# VisualStudio crap
csharp/barista.v12.suo
csharp/.vs/
csharp/barista/bin/
csharp/barista/obj/
vb/barista.v12.suo
vb/.vs/
vb/barista/bin/
vb/barista/obj/
.ionide/*

# C++ compiled object stuff
cpp/*.o
cpp/barista.exe

# Eclipse settings
java/.settings/

# Perldoc (Defaults)
perl/barista.html

# GO binaries
go/bin/
go/pkg/
